<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Vendor::top_level" title="Vendor" module="Vendor_CustomOrderProcessing" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Vendor_CustomOrderProcessing::vendor_customorderprocessing_log" title="Order Status Log" module="Vendor_CustomOrderProcessing" sortOrder="9999" resource="Magento_Backend::content" parent="Vendor::top_level" action="vendor_customorderprocessing/log/index"/>
	</menu>
</config>
